<nav class="navbar navbar-expand-lg navbar-dark indigo">
  <a class="navbar-brand" href="#">READER'S CABIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="/library">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">ContactMe</a>
      </li>
      {% endif %}
    </ul>
    <span class="navbar-text white-text">
      <ul class="navbar-nav mr-auto">
        {% if session.logged_in %}
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>
    </span>
  </div>
</nav>


<!--Navbar -->
<!-- <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color lighten-4">
  <a class="navbar-brand" href="#">READER'S CABIN</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      {% if session.logged_in %}
      <li class="nav-item">
        <a class="nav-link" href="#">Library</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="#">Contact Me</a>
      </li>
    </ul>
    {% if session.logged_in %}
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Logout</a>
        </div>
      </li>
    </ul>
    {% else %}
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    </ul>
    {% endif %}
  </div>
</nav> -->
<!--/.Navbar -->



