{% extends 'layout.html' %}

{% block body %}
    <!-- Jumbotron -->
    <!-- Jumbotron -->
<div class="jumbotron text-center">

    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
    
        <!-- Grid column -->
        <div class="col-xl-7 pb-2">
            <img src="../static/img/404pic.svg" alt="" style="height: 350px;" class="embed-responsive"> <br> <br> <br> 
        </div>

    </div>

    <!-- Title -->
    <h2 class="card-title h2">PAGE NOT FOUND</h2>
    <!-- Subtitle -->
    <p class="blue-text my-4 font-weight-bold">THE PAGE YOU ARE LOOKING FOR DOESN'T EXISTS</p>
  
    <!-- Grid row -->
    <div class="row d-flex justify-content-center">
  
      <!-- Grid column -->
      <div class="col-xl-7 pb-2">
  
        <p class="card-text">YOU MAY HAVE MISTYPED THE ADDRESS OR THE PAGE MAY HAVE MOVED</p>
  
      </div>
      <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
    <hr class="my-4">
  
    <div class="pt-2">
      <a href="/"><button type="button" class="btn btn-blue waves-effect">Go Back to HOME</button></a>
    </div>
  
  </div>
  <!-- Jumbotron -->
  <!-- End Jumbotron -->
{% endblock %}