{% extends 'layout.html' %}

{% block body %}
    <!-- Jumbotron -->
    <div class="jumbotron text-center blue-grey lighten-4">

        <!-- Title -->
        <br><h1><strong>LOGIN</strong></h1> <br> <br>
    
        <!-- Grid row -->
        <div class="row d-flex justify-content-center">
    
            <!-- Grid column -->
            <div class="col-xl-7 pb-2">
                <img src="../static/img/loginimg.svg" alt="" style="height: 350px;" class="embed-responsive"> <br> <br> <br> 
            </div>
    
        </div>

        <hr class="my-4 pb-2">

        <!-- Grid row -->
        <div class="text-left">
            <form action="" method="POST">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" name="username" class="form-control" value="{{request.form.username}}">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" value="{{request.form.password}}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
  <!-- End Jumbotron -->
{% endblock %}